= link_to "<button type='button' class='btn btn-danger' id='punch_out'>Punch Out</button>".html_safe,                    |
  @assignments.where(user_id: current_user.id).last, method: :delete, data: { confirm: 'Are you sure?' } |
