%p#notice= notice
-if current_user.try(:admin?)
  = form_for_filterrific @filterrific do |f|
    %label User Search
    = f.text_field(:search_query,class: 'filterrific-periodically-observed-form-control')  
  #results
    = render :partial => 'users/list',:locals => { :users => @users }
-else
  .jumbotron{:style => "background-color:rgb(227,81,74); padding:25px !important; width: 100%; height: 100%;"}
    %font{:size => "22", :style => "vertical-align: middle;color: rgb(126,41,36)"}
      %h1 Insufficient Permissions!
      %p
        You do not have the appropriate access rights to view the contents of this page. If you believe this is an error, please contact an administrator.
    
    


