<p>
  <strong>Shift:</strong>
  <%= @workplace.shift_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @workplace.location_id %>
</p>

<%= link_to 'Edit', edit_workplace_path(@workplace) %> |
<%= link_to 'Back', workplaces_path %>
