<h1>Punchcard Sign In</h1>
<p>This is the login page!</p>

<<<<<<< HEAD
<%= render 'form' %>
<%= react_component('Login', {}) %>
=======
<%= react_component('Login', {}) %>
>>>>>>> 54708f214719121274948a0764ac5f60f7e4b318
