<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="container">
	<div style="background-color:rgb(104,212,60) !important" class="jumbotron">
		<span ><font id="Title" size="22" color="white">PunchCard</font></span>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav navbar-right" style="vertical-align: middle">
      		<% if user_signed_in? %>
            <font color="white" size="4">
            Welcome, <b><%= current_user.first_name.titleize %> <%= current_user.last_name.titleize %></b>
            <%= link_to '<button type="button" class="btn btn-danger">Log Out</button>'.html_safe, destroy_user_session_path, :method => :delete %>
            </font>
       		<% end %>
    	</ul>
    	</div>
	</div>
</div>